*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5, 0, 136, 0.5), rgba(5, 0, 136, 0.5)), url(pexels-photo-2113994.jpeg);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.8s;
}

nav .logo{
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
}

nav .logo span{
    width: 150px;
    margin: 30px 100px;
    font-size: 50px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    padding-right: 10px;
}

nav ul li a{
    text-decoration: none;
    cursor: pointer;
}

nav:hover{
    background-color: rgb(27, 12, 51);
    color: #fff;
}

.content{
    margin-top: 9%;
    margin-left: 9%;
}

.content h1{
    font-size: 120px;
    line-height: 140px;
    font-weight: 600;
}

.content p{
    max-width: 500px;
    line-height: 28px;
    opacity: 0;
}

.links{
    margin-top: 30px;
    opacity: 0;
}

.links a{
    text-decoration: none;
    display: inline-block;
}

.btn{
    border: 2px solid #fff;
    padding: 10px 35px ;
    border-radius: 30px;
    margin-right: 15px;
}

.slide_left{
    animation: slideleft 1s forwards linear;
}

@keyframes slideleft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

p.slide_left{
    animation-delay: 1s;
}

.links.slide_left{
    animation-delay: 2s;
}

.social_links{
    transform: rotate(-90deg);
    position: absolute;
    left: -35px;
    bottom: 180px;
}

.social_links a{
    text-decoration: none;
    font-size: 18px;
}